body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7674 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:400px;
}
#u7675 {
  position:absolute;
  left:2px;
  top:192px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7676 {
  position:absolute;
  left:387px;
  top:229px;
  width:210px;
  height:25px;
}
#u7676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7677 {
  position:absolute;
  left:100px;
  top:230px;
  width:210px;
  height:25px;
}
#u7677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7678 {
  position:absolute;
  left:235px;
  top:343px;
  width:90px;
  height:30px;
}
#u7679 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u7680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E2231A;
}
#u7680 {
  position:absolute;
  left:25px;
  top:8px;
  width:93px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E2231A;
}
#u7681 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u7682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7682 {
  position:absolute;
  left:365px;
  top:342px;
  width:90px;
  height:30px;
}
#u7683 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u7684 {
  position:absolute;
  left:447px;
  top:148px;
  width:227px;
  height:22px;
}
#u7684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7684_input:disabled {
  color:grayText;
}
#u7685 {
  position:absolute;
  left:100px;
  top:266px;
  width:210px;
  height:22px;
}
#u7685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7685_input:disabled {
  color:grayText;
}
#u7686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7686 {
  position:absolute;
  left:33px;
  top:232px;
  width:43px;
  height:16px;
}
#u7687 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7688 {
  position:absolute;
  left:320px;
  top:234px;
  width:43px;
  height:16px;
}
#u7689 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7690 {
  position:absolute;
  left:33px;
  top:269px;
  width:57px;
  height:16px;
}
#u7691 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7692 {
  position:absolute;
  left:447px;
  top:40px;
  width:57px;
  height:16px;
}
#u7693 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:136px;
}
#u7694 {
  position:absolute;
  left:342px;
  top:40px;
  width:1px;
  height:135px;
}
#u7695 {
  position:absolute;
  left:2px;
  top:60px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7696 {
  position:absolute;
  left:447px;
  top:75px;
  width:227px;
  height:22px;
}
#u7696_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7696_input:disabled {
  color:grayText;
}
#u7697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7697 {
  position:absolute;
  left:380px;
  top:77px;
  width:57px;
  height:16px;
}
#u7698 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7699 {
  position:absolute;
  left:380px;
  top:115px;
  width:57px;
  height:16px;
}
#u7700 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7701 {
  position:absolute;
  left:380px;
  top:150px;
  width:57px;
  height:16px;
}
#u7702 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7703 {
  position:absolute;
  left:447px;
  top:112px;
  width:227px;
  height:22px;
}
#u7703_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7703_input:disabled {
  color:grayText;
}
#u7704 {
  position:absolute;
  left:100px;
  top:298px;
  width:210px;
  height:22px;
}
#u7704_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7704_input:disabled {
  color:grayText;
}
#u7705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7705 {
  position:absolute;
  left:21px;
  top:301px;
  width:71px;
  height:16px;
}
#u7706 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7707 {
  position:absolute;
  left:320px;
  top:266px;
  width:117px;
  height:22px;
}
#u7707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7707_input:disabled {
  color:grayText;
}
#u7708 {
  position:absolute;
  left:320px;
  top:298px;
  width:117px;
  height:22px;
}
#u7708_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7708_input:disabled {
  color:grayText;
}
#u7709 {
  position:absolute;
  left:447px;
  top:266px;
  width:103px;
  height:25px;
}
#u7709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7710 {
  position:absolute;
  left:447px;
  top:295px;
  width:103px;
  height:25px;
}
#u7710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7711 {
  position:absolute;
  left:100px;
  top:75px;
  width:210px;
  height:25px;
}
#u7711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7712 {
  position:absolute;
  left:33px;
  top:78px;
  width:57px;
  height:16px;
}
#u7713 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7714 {
  position:absolute;
  left:100px;
  top:110px;
  width:210px;
  height:25px;
}
#u7714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7715 {
  position:absolute;
  left:33px;
  top:113px;
  width:57px;
  height:16px;
}
#u7716 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7717 {
  position:absolute;
  left:100px;
  top:149px;
  width:210px;
  height:25px;
}
#u7717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7718 {
  position:absolute;
  left:33px;
  top:152px;
  width:57px;
  height:16px;
}
#u7719 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7720 {
  position:absolute;
  left:101px;
  top:38px;
  width:210px;
  height:25px;
}
#u7720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7721 {
  position:absolute;
  left:34px;
  top:41px;
  width:57px;
  height:16px;
}
#u7722 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7723 {
  position:absolute;
  left:100px;
  top:195px;
  width:210px;
  height:25px;
}
#u7723_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7724 {
  position:absolute;
  left:33px;
  top:198px;
  width:57px;
  height:16px;
}
#u7725 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
