body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:652px;
}
#u9006 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:652px;
}
#u9007 {
  position:absolute;
  left:2px;
  top:318px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
