body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:323px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:569px;
}
#u9010 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:569px;
}
#u9011 {
  position:absolute;
  left:2px;
  top:276px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
