body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:810px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7019 {
  position:absolute;
  left:0px;
  top:-50px;
  width:1350px;
  height:810px;
}
#u7020 {
  position:absolute;
  left:2px;
  top:397px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1372px;
  height:100px;
}
#u7021 {
  position:absolute;
  left:-22px;
  top:656px;
  width:1372px;
  height:100px;
}
#u7022 {
  position:absolute;
  left:2px;
  top:42px;
  width:1368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:60px;
  background:inherit;
  background-color:rgba(34, 39, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7023 {
  position:absolute;
  left:349px;
  top:676px;
  width:630px;
  height:60px;
  color:#CCCCCC;
}
#u7024 {
  position:absolute;
  left:2px;
  top:22px;
  width:626px;
  word-wrap:break-word;
}
#u7025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7025 {
  position:absolute;
  left:310px;
  top:0px;
  width:720px;
  height:80px;
}
#u7026 {
  position:absolute;
  left:2px;
  top:32px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7027 {
  position:absolute;
  left:0px;
  top:69px;
  width:1350px;
  height:41px;
}
#u7028 {
  position:absolute;
  left:2px;
  top:12px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:69px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7029 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1350px;
  height:69px;
}
#u7030 {
  position:absolute;
  left:2px;
  top:26px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:42px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7032 {
  position:absolute;
  left:42px;
  top:13px;
  width:288px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7033 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u7034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u7034 {
  position:absolute;
  left:122px;
  top:36px;
  width:168px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u7035 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u7036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:39px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
  text-align:right;
}
#u7036 {
  position:absolute;
  left:1136px;
  top:26px;
  width:111px;
  height:39px;
  color:#F2F2F2;
  text-align:right;
}
#u7037 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u7038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#F2F2F2;
  text-align:left;
}
#u7038 {
  position:absolute;
  left:1246px;
  top:31px;
  width:50px;
  height:30px;
  text-decoration:underline;
  color:#F2F2F2;
  text-align:left;
}
#u7039 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u7040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E2231A;
}
#u7040 {
  position:absolute;
  left:77px;
  top:130px;
  width:93px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E2231A;
}
#u7041 {
  position:absolute;
  left:2px;
  top:13px;
  width:89px;
  word-wrap:break-word;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:2px;
}
#u7042 {
  position:absolute;
  left:77px;
  top:171px;
  width:1203px;
  height:1px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7045 {
  position:absolute;
  left:715px;
  top:621px;
  width:44px;
  height:20px;
}
#u7046 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u7047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7047 {
  position:absolute;
  left:570px;
  top:621px;
  width:44px;
  height:20px;
}
#u7048 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u7049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7049 {
  position:absolute;
  left:637px;
  top:622px;
  width:19px;
  height:20px;
}
#u7050 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  white-space:nowrap;
}
#u7051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7051 {
  position:absolute;
  left:661px;
  top:622px;
  width:19px;
  height:20px;
}
#u7052 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  white-space:nowrap;
}
#u7053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7053 {
  position:absolute;
  left:684px;
  top:622px;
  width:19px;
  height:20px;
}
#u7054 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  white-space:nowrap;
}
#u7055 {
  position:absolute;
  left:810px;
  top:75px;
  width:380px;
  height:25px;
}
#u7055_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7056 {
  position:absolute;
  left:1200px;
  top:75px;
  width:70px;
  height:25px;
}
#u7057 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u7058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7058 {
  position:absolute;
  left:77px;
  top:190px;
  width:53px;
  height:27px;
}
#u7059 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u7060 {
  position:absolute;
  left:121px;
  top:74px;
  width:600px;
  height:30px;
}
#u7060_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7061 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u7062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7062 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7063 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7064 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u7065 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7066 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u7067 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7068 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u7069 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7070 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7072 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u7073 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7074 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:60px;
  visibility:hidden;
}
#u7074_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7075 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7076 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7077 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7078 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7080 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:90px;
  visibility:hidden;
}
#u7080_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7081 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u7082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7082 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7083 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7084 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u7085 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7086 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u7087 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7088 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:90px;
  visibility:hidden;
}
#u7088_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7089 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7090 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7091 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7092 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u7093 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7094 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u7095 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7096 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:90px;
  visibility:hidden;
}
#u7096_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7097 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u7098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7098 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7099 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7100 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u7101 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7102 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u7103 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7104 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:120px;
  visibility:hidden;
}
#u7104_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7105 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:125px;
}
#u7106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7106 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7107 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7108 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u7109 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7110 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u7111 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7112 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u7113 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7114 {
  position:absolute;
  left:211px;
  top:190px;
  width:60px;
  height:27px;
}
#u7115 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u7116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7116 {
  position:absolute;
  left:281px;
  top:190px;
  width:60px;
  height:27px;
}
#u7117 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u7118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7118 {
  position:absolute;
  left:351px;
  top:190px;
  width:60px;
  height:27px;
}
#u7119 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u7120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:385px;
}
#u7120 {
  position:absolute;
  left:77px;
  top:226px;
  width:536px;
  height:385px;
}
#u7121 {
  position:absolute;
  left:2px;
  top:184px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7122 {
  position:absolute;
  left:141px;
  top:190px;
  width:60px;
  height:27px;
}
#u7123 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u7124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7124 {
  position:absolute;
  left:506px;
  top:190px;
  width:70px;
  height:27px;
}
#u7125 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7126 {
  position:absolute;
  left:586px;
  top:190px;
  width:70px;
  height:27px;
}
#u7127 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u7128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7128 {
  position:absolute;
  left:421px;
  top:190px;
  width:75px;
  height:27px;
}
#u7129 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
