body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:653px;
}
#u8964 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:653px;
}
#u8965 {
  position:absolute;
  left:2px;
  top:318px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u8966 {
  position:absolute;
  left:3px;
  top:30px;
  width:67px;
  height:36px;
}
#u8967 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(248, 144, 34, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8968 {
  position:absolute;
  left:128px;
  top:32px;
  width:120px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8969 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u8970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:494px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8970 {
  position:absolute;
  left:3px;
  top:66px;
  width:367px;
  height:494px;
}
#u8971 {
  position:absolute;
  left:2px;
  top:239px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8972 {
  position:absolute;
  left:80px;
  top:90px;
  width:220px;
  height:32px;
  font-size:14px;
}
#u8973 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u8974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8974 {
  position:absolute;
  left:80px;
  top:138px;
  width:220px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8975 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u8976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8976 {
  position:absolute;
  left:80px;
  top:188px;
  width:220px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8977 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u8978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8978 {
  position:absolute;
  left:80px;
  top:240px;
  width:220px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8979 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u8980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8980 {
  position:absolute;
  left:80px;
  top:290px;
  width:220px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8981 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u8982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8982 {
  position:absolute;
  left:80px;
  top:341px;
  width:220px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8983 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u8984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u8984 {
  position:absolute;
  left:10px;
  top:549px;
  width:350px;
  height:1px;
}
#u8985 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8986 {
  position:absolute;
  left:80px;
  top:488px;
  width:220px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8987 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
