body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:534px;
}
#u8815 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:534px;
}
#u8816 {
  position:absolute;
  left:2px;
  top:259px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
